name: Test & Build
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Test with Coverage
        run: yarn test --coverage --coverageReporters=lcov

      - name: ESLint
        run: yarn eslint

      - name: Report Coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          working-directory: |
            .
            docs

      - name: Build Dist
        run: yarn build

      - name: Bundlewatch
        run: npx bundlewatch

      - name: Build Docs
        run: yarn build:docs
